# Hosts do cluster Kubernetes

# VIPs do Keepalived
{{ keepalived_vip_ip }} {{ vip_api_fqdn }} {{ vip_etcd_fqdn }}

# Nós do cluster
{% for host in groups['todos'] %}
{{ hostvars[host].ansible_host }} {{ hostvars[host].fqdn }}
{% endfor %}

# LoadBalancers já cadastrados