# Configuração principal do DNS para o cluster k8s-in-a-box

# Escutar em todas as interfaces (inclusive VIPs e bridges)
interface=*
bind-dynamic
port=53

# Desativa o modo DHCP
no-dhcp-interface=*

# Domínio interno
domain=k8sbox.local
expand-hosts

# Arquivo de hosts do cluster e dos serviços
no-hosts
addn-hosts=/etc/dnsmasq.hosts

# Encaminhadores DNS externos
no-resolv
server=9.9.9.9
server=149.112.112.112

# Logs
log-queries
log-dhcp
