apiVersion: v1
kind: Pod
metadata:
  labels:
    component: kube-controller-manager
    tier: control-plane
  name: kube-controller-manager
  namespace: kube-system
spec:
  containers:
  - name: kube-controller-manager
    image: {{ control_plane_images.controller_manager }}
    imagePullPolicy: IfNotPresent
    command:
    - kube-controller-manager
    - --allocate-node-cidrs=true
    - --authentication-kubeconfig=/etc/controller-manager/kube-controller-manager.kubeconfig
    - --authorization-kubeconfig=/etc/controller-manager/kube-controller-manager.kubeconfig
    - --bind-address=0.0.0.0
    - --client-ca-file=/etc/controller-manager/pki/ca/{{ pki_cas.kubernetes.path_cert | basename }}
    - --cluster-name=kubernetes
    - --cluster-signing-cert-file=/etc/controller-manager/pki/ca/{{ pki_cas.kubernetes.path_cert | basename }}
    - --cluster-signing-key-file=/etc/controller-manager/pki/ca/{{ pki_cas.kubernetes.path_chave | basename }}
    - --cluster-cidr={{ rede_cidr_pods }}
    - --controllers=*,bootstrapsigner,tokencleaner
    - --kubeconfig=/etc/controller-manager/kube-controller-manager.kubeconfig
    - --leader-elect=true
    - --requestheader-client-ca-file=/etc/controller-manager/pki/front-proxy/{{ pki_cas.front_proxy.path_cert | basename }}
    - --root-ca-file=/etc/controller-manager/pki/ca/{{ pki_cas.kubernetes.path_cert | basename }}
    - --service-account-private-key-file=/etc/controller-manager/pki/sa/{{ pki_certs.service_account.path_chave | basename }}
    - --use-service-account-credentials=true
    - --secure-port={{ porta_kube_controller_manager }}
    - --v=1
    ports:
    - containerPort: {{ porta_kube_controller_manager }}
      name: probe-port
      protocol: TCP
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: probe-port
        scheme: HTTPS
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    startupProbe:
      failureThreshold: 24
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: probe-port
        scheme: HTTPS
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    resources:
      requests:
        cpu: 200m
    volumeMounts:
    - mountPath: /etc/controller-manager
      name: kube-controller-manager-conf
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /etc/ca-certificates
      name: etc-ca-certificates
      readOnly: true
    - mountPath: /usr/local/share/ca-certificates
      name: usr-local-share-ca-certificates
      readOnly: true
    - mountPath: /usr/share/ca-certificates
      name: usr-share-ca-certificates
      readOnly: true
  hostNetwork: true
  priority: 2000001000
  priorityClassName: system-node-critical
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
  - hostPath:
      path: /etc/kubernetes/conf/kube-controller-manager
      type: DirectoryOrCreate
    name: kube-controller-manager-conf
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs
  - hostPath:
      path: /etc/ca-certificates
      type: DirectoryOrCreate
    name: etc-ca-certificates
  - hostPath:
      path: /usr/local/share/ca-certificates
      type: DirectoryOrCreate
    name: usr-local-share-ca-certificates
  - hostPath:
      path: /usr/share/ca-certificates
      type: DirectoryOrCreate
    name: usr-share-ca-certificates
