# ansible/13-configuracoes-cluster/tasks/main.yml
---
- name: Configurar Labels e Taints dos nós do cluster
  ansible.builtin.import_tasks: 01-labels-taints.yml

- name: Instalar Flannel
  ansible.builtin.import_tasks: 02-flannel.yml
  when: plugin_cni == "flannel"

- name: Instalar Canal (Flannel + Calico)
  ansible.builtin.import_tasks: 02-canal.yml
  when: plugin_cni == "canal"

- name: Instalação e configuração do CoreDNS
  ansible.builtin.import_tasks: 03-coredns.yml

- name: Instalação e configuração do Metrics Server
  ansible.builtin.import_tasks: 04-metrics.yml

- name: Instalação e configuração do NFS Subdir External Provisioner
  ansible.builtin.import_tasks: 05-nfs-storage.yml

- name: Instalação e configuração do MetalLB
  ansible.builtin.import_tasks: 06-metallb.yml

- name: Instalação e configuração do Traefik Gateway API
  ansible.builtin.import_tasks: 07-traefik-gateway-api.yml

- name: Instalação e configuração do Kubernetes Dashboard
  ansible.builtin.import_tasks: 08-dashboard.yml

- name: Instalação e configuração do Headlamp Dashboard
  ansible.builtin.import_tasks: 08-headlamp.yml