global
    log /dev/log local0
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # Configurações SSL
    ssl-default-bind-ciphers {{ ssl_ciphers }}
    ssl-default-bind-options {{ ssl_options }}
    tune.ssl.default-dh-param {{ ssl_dh_param }}

defaults
    log     global
    mode    tcp
    option  dontlognull
    timeout connect {{ timeout_connect }}
    timeout client  {{ timeout_client }}
    timeout server  {{ timeout_server }}

# Frontend para o Kubernetes API Server
frontend k8s_api
    bind *:{{ porta_haproxy }} ssl crt /etc/haproxy/certs/k8s-server-bundle.pem ca-file /etc/haproxy/certs/k8s-ca.pem verify required
    mode tcp
    option tcplog
    default_backend k8s_api_backend

# Frontend para o etcd
frontend etcd
    bind *:{{ porta_etcd }} ssl crt /etc/haproxy/certs/etcd-client-bundle.pem ca-file /etc/haproxy/certs/etcd-ca.pem verify required
    mode tcp
    option tcplog
    default_backend etcd_backend

# Backend para o Kubernetes API Server
backend k8s_api_backend
    mode tcp
    balance roundrobin
    option tcp-check
    option httpchk GET /healthz
    http-check expect status 200
{% for host in groups['managers'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:6443 check ssl verify required ca-file /etc/haproxy/certs/k8s-ca.pem
{% endfor %}

# Backend para o etcd
backend etcd_backend
    mode tcp
    balance roundrobin
    option tcp-check
{% for host in groups['managers'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:2379 check ssl verify required ca-file /etc/haproxy/certs/etcd-ca.pem
{% endfor %}

# Frontend para estatísticas
frontend stats
    bind *:{{ porta_stats }}
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
