# Range de IPs dos Pods
podCidr: "{{ rede_cidr_pods }}"

flannel:
  # Backend de rede
  backend: "vxlan"

  # Recursos mínimos para estabilidade
  resources:
    requests:
      cpu: 100m
      memory: 50Mi
