# ansible/10-kubelet/tasks/05-configuracao-crio.yml
---
- name: Configurar CRI-O para Kubernetes
  ansible.builtin.copy:
    dest: /etc/crio/crio.conf.d/10-kubernetes.conf
    content: |
      # Configurações para integração com Kubernetes
      
      [crio.runtime]
      cgroup_manager = "systemd"
      conmon = "/usr/libexec/crio/conmon"
      
      [crio.image]
      pause_image = "registry.k8s.io/{{ versao_pause }}"
      
      [crio.network]
      network_dir = "/etc/cni/net.d/"
      plugin_dirs = ["/opt/cni/bin/"]
    mode: "0644"

- name: Habilitar e iniciar CRI-O
  ansible.builtin.systemd:
    name: crio
    enabled: true
    state: restarted

- name: Aguardar CRI-O estar pronto
  ansible.builtin.wait_for:
    path: /var/run/crio/crio.sock
    timeout: 30