# ansible/10-kubelet/tasks/05-configuracao-containerd.yml
---
- name: Gerar configuração padrão do containerd
  ansible.builtin.command: containerd config default
  register: containerd_config
  changed_when: false

- name: Salvar configuração do containerd ajustada para funcionar com o Kubelet
  ansible.builtin.copy:
    dest: /etc/containerd/config.toml
    content: >-
      {{
        containerd_config.stdout
        | regex_replace('SystemdCgroup = false', 'SystemdCgroup = true')
        | regex_replace('sandbox_image = "registry.k8s.io/pause:[0-9.]+"',
                        'sandbox_image = "registry.k8s.io/%s"' % versao_pause)
      }}
    mode: "0644"

- name: Habilitar e iniciar containerd
  ansible.builtin.systemd:
    name: containerd
    enabled: true
    state: restarted

- name: Aguardar containerd estar pronto
  ansible.builtin.wait_for:
    path: /var/run/containerd/containerd.sock
    timeout: 30