apiVersion: v1
kind: Config

clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/{{ pki_cas.kubernetes.path_cert | basename }}
    server: https://{{ hostvars[groups['loadbalancers'][0]].ansible_host }}:{{ porta_kubeapiserver }}
  name: kubernetes

users:
- name: system:node:{{ inventory_hostname }}
  user:
    client-certificate: /etc/kubernetes/pki/kubelet/{{ pki_certs.kubelet.path_cert | format(inventory_hostname) | basename }}
    client-key: /etc/kubernetes/pki/kubelet/{{ pki_certs.kubelet.path_chave | format(inventory_hostname) | basename }}

contexts:
- context:
    cluster: kubernetes
    user: system:node:{{ inventory_hostname }}
  name: system:node:{{ inventory_hostname }}@kubernetes
current-context: system:node:{{ inventory_hostname }}@kubernetes
