- IP:127.0.0.1
- DNS:localhost
- IP:{{ hostvars[groups['loadbalancers'][0]]['ansible_host'] }}
- DNS:{{ groups['loadbalancers'][0] }}
{% for host in groups['managers'] %}
- IP:{{ hostvars[host]['ansible_host'] }}
- DNS:{{ host }}
{% endfor %}
- DNS:kubernetes
- DNS:kubernetes.default
- DNS:kubernetes.default.svc
- DNS:kubernetes.default.svc.cluster.local