[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

WorkingDirectory=/var/lib/kubernetes
EnvironmentFile=-/etc/kubernetes/kube-apiserver.env
ExecStart=/usr/local/bin/kube-apiserver $KUBE_APISERVER_OPTS

Restart=on-failure
RestartSec=10

# Logs
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kube-apiserver

[Install]
WantedBy=multi-user.target
