# Configuração global do Prometheus
global:
  scrape_interval: {{ intervalo_coleta }}
  evaluation_interval: {{ intervalo_avaliacao }}
  
# Regras de alerta e recording rules
rule_files:
  - "/etc/prometheus/rules/*_rules.yml"
  - "/etc/prometheus/rules.d/*_rules.yml"

# Configurações de scraping
scrape_configs:
  #################################
  # Node Exporter em todos os hosts
  - job_name: 'node_exporter'
    file_sd_configs:
      - files:
        - '/etc/prometheus/targets/inventario_*.yml'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __address__
        replacement: $1:{{ porta_node_exporter }}
      - source_labels: [__address__]
        regex: '(.*):.*'
        target_label: instance
        replacement: '${1}'

  #####################################
  # Monitoramento do próprio Prometheus
  - job_name: 'prometheus'
    file_sd_configs:
      - files:
        - '/etc/prometheus/targets/inventario_monitoramento.yml'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __address__
        replacement: $1:{{ porta_prometheus }}
      - source_labels: [__address__]
        regex: '(.*):.*'
        target_label: instance
        replacement: '${1}'

  ##########################
  # Monitoramento do HAProxy
  - job_name: 'haproxy'
    file_sd_configs:
      - files:
        - '/etc/prometheus/targets/inventario_loadbalancers.yml'
    metrics_path: /metrics
    scheme: http
    basic_auth:
      username: "{{ haproxy_stats_usr }}"
      password: "{{ haproxy_stats_senha }}"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __address__
        replacement: $1:{{ porta_haproxy_stats }}
      - source_labels: [__address__]
        regex: '(.*):.*'
        target_label: instance
        replacement: '${1}'
