/var/log/prometheus/prometheus.log /var/log/prometheus/prometheus.err {
    daily
    rotate 7
    compress
    delaycompress
    missingok
    notifempty
    create 0640 prometheus prometheus
    postrotate
        systemctl reload prometheus
    endscript
}
