# IPs e nomes locais
- IP:127.0.0.1
- DNS:localhost

# Load Balancer
- IP:{{ hostvars[groups['loadbalancers'][0]]['ansible_host'] }}
- DNS:{{ groups['loadbalancers'][0] }}

# Nó atual
- IP:{{ hostvars[manager_host]['ansible_host'] }}
- DNS:{{ manager_host }}