# IPs e nomes locais
- IP:127.0.0.1
- DNS:localhost

# Load Balancer
- IP:{{ hostvars[groups['loadbalancers'][0]]['ansible_host'] }}
- DNS:{{ groups['loadbalancers'][0] }}

# Nome e IP do nó atual
- IP:{{ hostvars[manager_host]['ansible_host'] }}
- DNS:{{ manager_host }}

# Nome do serviço do Kubernetes
- DNS:kubernetes
- DNS:kubernetes.default
- DNS:kubernetes.default.svc
- DNS:kubernetes.default.svc.cluster
- DNS:kubernetes.default.svc.cluster.local

# IP do serviço Kubernetes (primeiro IP do CIDR de serviços)
- IP:{{ rede_cidr_services | ipaddr('net') | ipaddr('1') | ipaddr('address') }}