apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/{{ certs.ca_k8s.cert | basename }}
    server: https://{{ hostvars[groups['loadbalancers'][0]]['ansible_host'] }}:{{ porta_kubeapiserver }}
  name: kubernetes

users:
- name: system:kube-controller-manager
  user:
    client-certificate: /etc/kubernetes/pki/controller-manager/{{ certs.kube_controller.cert | format(inventory_hostname) | basename }}
    client-key: /etc/kubernetes/pki/controller-manager/{{ certs.kube_controller.chave | format(inventory_hostname) | basename }}

contexts:
- context:
    cluster: kubernetes
    user: system:kube-controller-manager
    namespace: kube-system
  name: system:kube-controller-manager@kubernetes

current-context: system:kube-controller-manager@kubernetes

authentication:
  webhook:
    enabled: true
    cacheTTL: 2m0s

authorization:
  mode: Webhook
  webhook:
    enabled: true
    cacheTTL: 2m0s