# IPs e nomes locais
- IP:127.0.0.1
- DNS:localhost

# Load Balancer
- IP:{{ keepalived_vip_ip }}
- DNS:{{ vip_etcd_fqdn }}

# Nó atual
- IP:{{ hostvars[manager_host].ansible_host }}
- DNS:{{ hostvars[manager_host].fqdn }}