apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-ingress
  namespace: exemplos
  labels:
    app: hello-ingress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-ingress
  template:
    metadata:
      labels:
        app: hello-ingress
    spec:
      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: html
          configMap:
            name: hello-ingress
