apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  namespace: exemplos
  labels:
    app: hello-app
    componente: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-app
      componente: web
  template:
    metadata:
      labels:
        app: hello-app
        componente: web
    spec:
      serviceAccountName: exemplos-sa
      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
          resources:
            requests:
              cpu: "200m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "64Mi"
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: html
          configMap:
            name: hello-app
