apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: hello-app-pdb
  namespace: exemplos
  labels:
    app: hello-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: hello-app
