KUBELET_OPTS="
  --config=/var/lib/kubelet/kubelet-config.yml
  --kubeconfig=/var/lib/kubelet/kubelet.kubeconfig
  --hostname-override={{ inventory_hostname }}
  --node-ip={{ hostvars[inventory_hostname].ansible_host }}
  --v=2
"
