KUBE_APISERVER_OPTS="
  --advertise-address={{ hostvars[inventory_hostname].ansible_host }}
  --allow-privileged=true
  --anonymous-auth=false
  --authorization-mode=Node,RBAC
  --bind-address=0.0.0.0
  --client-ca-file=/etc/kubernetes/pki/{{ pki_cas.kubernetes.path_cert | basename }}
  --enable-admission-plugins=NodeRestriction
  --enable-bootstrap-token-auth=true
  --etcd-cafile=/etc/kubernetes/pki/{{ pki_cas.etcd.path_cert | basename }}
  --etcd-certfile=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_apiserver_etcd_cli.path_cert | basename }}
  --etcd-keyfile=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_apiserver_etcd_cli.path_chave | basename }}
  --etcd-servers=https://{{ vip_etcd_fqdn }}:{{ porta_etcd_https }}
  --kubelet-certificate-authority=/etc/kubernetes/pki/{{ pki_cas.kubernetes.path_cert | basename }}
  --kubelet-client-certificate=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_apiserver_kubelet_cli.path_cert | basename }}
  --kubelet-client-key=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_apiserver_kubelet_cli.path_chave | basename }}
  --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
  --proxy-client-cert-file=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_front_proxy_cli.path_cert | basename }}
  --proxy-client-key-file=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_front_proxy_cli.path_chave | basename }}
  --requestheader-allowed-names=front-proxy-client
  --requestheader-client-ca-file=/etc/kubernetes/pki/{{ pki_cas.front_proxy.path_cert | basename }}
  --requestheader-extra-headers-prefix=X-Remote-Extra-
  --requestheader-group-headers=X-Remote-Group
  --requestheader-username-headers=X-Remote-User
  --secure-port={{ porta_kubeapiserver }}
  --service-account-issuer=https://kubernetes.default.svc.cluster.local
  --service-account-key-file=/etc/kubernetes/pki/apiserver/{{ pki_certs.service_account.path_cert | basename }}
  --service-account-signing-key-file=/etc/kubernetes/pki/apiserver/{{ pki_certs.service_account.path_chave | basename }}
  --service-cluster-ip-range={{ rede_cidr_services }}
  --service-node-port-range=30000-32767
  --tls-cert-file=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_apiserver.path_cert | format(inventory_hostname) | basename }}
  --tls-private-key-file=/etc/kubernetes/pki/apiserver/{{ pki_certs.kube_apiserver.path_chave | format(inventory_hostname) | basename }}
  --v=1
"
