apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority: /etc/kubernetes/pki/{{ pki_cas.kubernetes.path_cert | basename }}
    server: https://{{ vip_api_fqdn }}:6443
users:
- name: system:kube-proxy
  user:
    client-certificate: /etc/kubernetes/pki/kube-proxy/{{ pki_certs.kube_proxy.path_cert | format(inventory_hostname) | basename }}
    client-key: /etc/kubernetes/pki/kube-proxy/{{ pki_certs.kube_proxy.path_chave | format(inventory_hostname) | basename }}
contexts:
- name: default
  context:
    cluster: kubernetes
    user: system:kube-proxy
current-context: default
