apiVersion: v1
kind: Service
metadata:
  name: hubble-ui-lb
  namespace: cni-cilium
  labels:
    app.kubernetes.io/name: hubble-ui
    app.kubernetes.io/part-of: cilium
    k8s-app: hubble-ui
  annotations:
    metallb.io/ip-allocated-from-pool: pool-fixo
    metallb.io/loadBalancerIPs: 172.24.0.102
spec:
  type: LoadBalancer
  selector:
    k8s-app: hubble-ui
  ports:
    - name: http
      port: 80           # Porta pública exposta pelo MetalLB
      targetPort: 8081   # Porta interna do container hubble-ui
      protocol: TCP
