kubeProxyReplacement: false

ipv4:
  enabled: true

ipam:
  mode: "kubernetes"

l7Proxy: false

hubble:
  enabled: true
  ui:
    enabled: true
  relay:
    enabled: true

policyEnforcementMode: "default"

operator:
  replicas: 1
