app:
  settings:
    global:
      clusterName: "Kubernetes in a Box"
      defaultNamespace: _all
      namespaceFallbackList:
      - default

kong:
  proxy:
    type: LoadBalancer
    loadBalancerIP: 172.24.0.101
    http:
      enabled: false
