replicaCount: 2

service:
  type: LoadBalancer
  loadBalancerIP: 172.24.0.101

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

serviceAccount:
  create: true
  name: "headlamp-admin"

clusterRoleBinding:
  create: true
  clusterRoleName: cluster-admin

podDisruptionBudget:
  enabled: true
  minAvailable: 1