service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: pool-fixo
  spec:
    loadBalancerIP: "172.24.0.110"

providers:
  kubernetesGateway:
    enabled: true
