apiVersion: v1
kind: Service
metadata:
  name: traefik-dashboard-lb
  namespace: traefik
  annotations:
    kube-vip.io/loadbalancerIPs: "172.24.0.102"
spec:
  type: LoadBalancer
  ports:
  - name: web
    port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app.kubernetes.io/name: traefik
