[Unit]
Description=Kubernetes Scheduler
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

WorkingDirectory=/var/lib/kubernetes
EnvironmentFile=-/etc/kubernetes/kube-scheduler.env
ExecStart=/usr/local/bin/kube-scheduler $KUBE_SCHEDULER_OPTS

Restart=on-failure
RestartSec=10

# Logs
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kube-scheduler

[Install]
WantedBy=multi-user.target
