apiVersion: v1
kind: Config

clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/{{ pki_cas.kubernetes.path_cert | basename }}
    server: https://{{ vip_api_fqdn }}:{{ porta_kubeapiserver }}
  name: kubernetes

users:
- name: system:kube-scheduler
  user:
    client-certificate: /etc/kubernetes/pki/scheduler/{{ pki_certs.kube_scheduler.path_cert | format(inventory_hostname) | basename }}
    client-key: /etc/kubernetes/pki/scheduler/{{ pki_certs.kube_scheduler.path_chave | format(inventory_hostname) | basename }}

contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
current-context: system:kube-scheduler@kubernetes
