apiVersion: v1
kind: Config

clusters:
- cluster:
    certificate-authority-data: "{{ lookup('file', pki_cas.kubernetes.path_cert) | b64encode }}"
    server: https://{{ vip_api_fqdn }}:{{ porta_kubeapiserver }}
  name: kubernetes

users:
- name: kubernetes-super-admin
  user:
    client-certificate-data: "{{ lookup('file', pki_certs.admin_account.path_cert) | b64encode }}"
    client-key-data: "{{ lookup('file', pki_certs.admin_account.path_chave) | b64encode }}"

contexts:
- context:
    cluster: kubernetes
    user: kubernetes-super-admin
  name: kubernetes-super-admin@kubernetes
current-context: kubernetes-super-admin@kubernetes
