replicaCount: 2

service:
  type: LoadBalancer
  annotations:
    kube-vip.io/loadbalancerIPs: "172.24.0.101"
    io.cilium/lb-ipam-ips: "172.24.0.101"

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

serviceAccount:
  create: true
  name: "headlamp-admin"

clusterRoleBinding:
  create: true
  clusterRoleName: cluster-admin

podDisruptionBudget:
  enabled: true
  minAvailable: 1
