/var/log/etcd/etcd.log /var/log/etcd/etcd.err {
    daily
    rotate 7
    missingok
    notifempty
    compress
    delaycompress
    postrotate
        systemctl restart etcd
    endscript
    create 0640 etcd etcd
}