apiVersion: v1
kind: Config

clusters:
- cluster:
    certificate-authority: /var/lib/kubelet/pki/{{ pki_cas.kubernetes.path_cert | basename }}
    server: https://{{ vip_api_fqdn }}:{{ porta_kubeapiserver }}
  name: kubernetes

users:
- name: system:node:{{ inventory_hostname }}
  user:
    client-certificate: /var/lib/kubelet/pki/{{ pki_certs.kubelet.path_cert | format(inventory_hostname) | basename }}
    client-key: /var/lib/kubelet/pki/{{ pki_certs.kubelet.path_chave | format(inventory_hostname) | basename }}

contexts:
- context:
    cluster: kubernetes
    user: system:node:{{ inventory_hostname }}
  name: system:node:{{ inventory_hostname }}@kubernetes
current-context: system:node:{{ inventory_hostname }}@kubernetes
