apiVersion: v1
kind: Config

clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/{{ pki_cas.kubernetes.path_cert | basename }}
    server: https://{{ vip_api_fqdn }}:{{ porta_kubeapiserver }}
  name: kubernetes

users:
- name: kubernetes-super-admin
  user:
    client-certificate: /etc/kubernetes/pki/{{ pki_certs.admin_account.path_cert | basename }}
    client-key: /etc/kubernetes/pki/{{ pki_certs.admin_account.path_chave | basename }}

contexts:
- context:
    cluster: kubernetes
    user: kubernetes-super-admin
  name: kubernetes-super-admin@kubernetes
current-context: kubernetes-super-admin@kubernetes
