# ansible/cni-cilium/templates/cilium-lb-ipam-pool.yml.j2
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: lb-pool-fixo
spec:
  blocks:
    - start: "{{ kubevip_ips_manuais.split('-')[0] }}"
      stop: "{{ kubevip_ips_manuais.split('-')[1] }}"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: lb-pool-dinamico
spec:
  blocks:
    - start: "{{ kubevip_ips_loadbalacing.split('-')[0] }}"
      stop: "{{ kubevip_ips_loadbalacing.split('-')[1] }}"
