# inventario/group_vars/all.yml
---
# Caminho absoluto para a pasta de artefatos
pasta_artefatos: "{{ playbook_dir }}/../artefatos"

# Pasta onde ficam os artefatos dos certificados
pasta_temporarios: "{{ pasta_artefatos }}/tmp"

#############################################################
### Configurações para as role relacionadas ao kubernetes ###
#############################################################

# Plugin de CNI
plugin_cni: "canal"  #Opções disponíveis: flannel e canal (flannel+calico)

# Redes do projeto
rede_cidr_hosts: "172.24.0.0/24"
rede_cidr_pods: "172.25.0.0/17"
rede_cidr_services: "172.25.128.0/17"

# Primeiros IPs das redes
primeiro_ip_hosts: "{{ rede_cidr_hosts | ansible.utils.ipaddr('1') | ansible.utils.ipaddr('address') }}"
primeiro_ip_pods: "{{ rede_cidr_pods | ansible.utils.ipaddr('1') | ansible.utils.ipaddr('address') }}"
primeiro_ip_services: "{{ rede_cidr_services | ansible.utils.ipaddr('1') | ansible.utils.ipaddr('address') }}"
coredns_ip: "{{ rede_cidr_services | ansible.utils.ipaddr('10') | ansible.utils.ipaddr('address') }}"

# Range de IPs para o MetalLB fazer LoadBalancing
metallb_ips_manuais: "172.24.0.101-172.24.0.150"
metallb_ips_loadbalacing: "172.24.0.201-172.24.0.250"

# Portas usadas no projeto
porta_etcd_https: 2379
porta_etcd_peers: 2380
porta_etcd_metricas: 2381
porta_kubeapiserver: 6443

############################################
### Configurações para a role 03-haproxy ###
############################################

# Timeouts
haproxy_timeout_connect: 5s
haproxy_timeout_client: 1h
haproxy_timeout_server: 1h
haproxy_timeout_tunnel: 12h
haproxy_timeout_check: 5s
haproxy_retries: 3

# Credenciais
haproxy_stats_usr: "admin"
haproxy_stats_senha: "senha_muito_segura!"

# Portas
porta_haproxy_stats: 9000

# Configuração de hosts para os endpoints principais
vip_api_fqdn: "api.k8sbox.local"
vip_etcd_fqdn: "etcd.k8sbox.local"

# Configuração do Keepalived
keepalived_vip_ip: "172.24.0.10"
keepalived_vip_cidr: "172.24.0.10/24"
keepalived_senha: "SenhaSuperSecreta123"

##############################################
### Configurações para a role 00-artefatos ###
##############################################

# Para verificar as versões e os checksums:
# - Etcd: https://github.com/etcd-io/etcd/releases/
# - Kubernetes: https://kubernetes.io/releases/download/#binaries

# Versões dos componentes
versao_etcd: "v3.6.6"         # https://endoflife.date/etcd
versao_kubernetes: "v1.34.2"  # https://endoflife.date/kubernetes e https://dl.k8s.io/release/stable.txt
versao_pause: "pause:3.10.1"  # https://kubernetes.io/docs/setup/production-environment/container-runtimes/#override-pause-image-containerd
versao_cni: "v1.8.0"          # https://github.com/containernetworking/plugins/releases e https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/
versao_helm: "v3.19.2"        # https://github.com/helm/helm/releases

# Kubernetes: https://kubernetes.io/releases/download/
download_artefatos:
  tailspin-bin:
    url: "https://github.com/bensadeh/tailspin/releases/latest/download/tailspin-x86_64-unknown-linux-musl.tar.gz"
    arquivo: "tailspin.tar.gz"

  yq-bin:
    url: "https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64"
    arquivo: "yq"

  etcd-bin:
    url: "https://github.com/etcd-io/etcd/releases/download/{{ versao_etcd }}/etcd-{{ versao_etcd }}-linux-amd64.tar.gz"
    arquivo: "etcd-bin.tar.gz"

  kube-apiserver-bin:
    url: "https://dl.k8s.io/release/{{ versao_kubernetes }}/bin/linux/amd64/kube-apiserver"
    arquivo: "kube-apiserver"

  kubelet-bin:
    url: "https://dl.k8s.io/release/{{ versao_kubernetes }}/bin/linux/amd64/kubelet"
    arquivo: "kubelet"

  kube-controller-manager-bin:
    url: "https://dl.k8s.io/release/{{ versao_kubernetes }}/bin/linux/amd64/kube-controller-manager"
    arquivo: "kube-controller-manager"

  kube-scheduler-bin:
    url: "https://dl.k8s.io/release/{{ versao_kubernetes }}/bin/linux/amd64/kube-scheduler"
    arquivo: "kube-scheduler"

  kube-proxy-bin:
    url: "https://dl.k8s.io/release/{{ versao_kubernetes }}/bin/linux/amd64/kube-proxy"
    arquivo: "kube-proxy"

  kubectl-bin:
    url: "https://dl.k8s.io/release/{{ versao_kubernetes }}/bin/linux/amd64/kubectl"
    arquivo: "kubectl"

  cni-plugins-bin:
    url: "https://github.com/containernetworking/plugins/releases/download/{{ versao_cni }}/cni-plugins-linux-amd64-{{ versao_cni }}.tgz"
    arquivo: "cni-plugins.tgz"

  helm-bin:
    url: "https://get.helm.sh/helm-{{ versao_helm }}-linux-amd64.tar.gz"
    arquivo: "helm-bin.tar.gz"

########################################
### Configurações para a role 02-pki ###
########################################

# Pasta onde ficam os artefatos dos certificados
pki_pasta_base: "{{ pasta_artefatos }}/pki"

# Pastas para os CAs e certificados:
pki_pastas:
  ca: "{{ pki_pasta_base }}/CAs"
  etcd: "{{ pki_pasta_base }}/etcd"
  k8s: "{{ pki_pasta_base }}/k8s"

# Configuração que decide se os certificados serão regerados
pki_regerar_certs: false

# Configurações para o Root CA
pki_root_ca:
  path_chave: "{{ pki_pastas.ca }}/root-ca-priv.pem"
  path_cert: "{{ pki_pastas.ca }}/root-ca-cert.pem"

# Configurações para os CAs intermediários
pki_cas:
  etcd:
    path_chave: "{{ pki_pastas.ca }}/ca-etcd-priv.pem"
    path_cert: "{{ pki_pastas.ca }}/ca-etcd-cert.pem"
    ca_pai: "{{ pki_root_ca }}"
  
  kubernetes:
    path_chave: "{{ pki_pastas.ca }}/ca-k8s-priv.pem"
    path_cert: "{{ pki_pastas.ca }}/ca-k8s-cert.pem"
    ca_pai: "{{ pki_root_ca }}"

  front_proxy:
    path_chave: "{{ pki_pastas.ca }}/ca-front-proxy-priv.pem"
    path_cert: "{{ pki_pastas.ca }}/ca-front-proxy-cert.pem"
    ca_pai: "{{ pki_root_ca }}"

# Configurações para os certificados
pki_certs:
  etcd_server:
    path_chave: "{{ pki_pastas.etcd }}/%s-etcd-node-server-priv.pem"
    path_cert: "{{ pki_pastas.etcd }}/%s-etcd-node-server-cert.pem"
    ca_pai: "{{ pki_cas['etcd'] }}"
  
  etcd_peer:
    path_chave: "{{ pki_pastas.etcd }}/%s-etcd-node-peer-priv.pem"
    path_cert: "{{ pki_pastas.etcd }}/%s-etcd-node-peer-cert.pem"
    ca_pai: "{{ pki_cas['etcd'] }}"

  etcd_cli:
    path_chave: "{{ pki_pastas.etcd }}/etcd-cli-priv.pem"
    path_cert: "{{ pki_pastas.etcd }}/etcd-cli-cert.pem"
    ca_pai: "{{ pki_cas['etcd'] }}"

  kube_apiserver:
    path_chave: "{{ pki_pastas.k8s }}/%s-kube-apiserver-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/%s-kube-apiserver-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  kube_apiserver_etcd_cli:
    path_chave: "{{ pki_pastas.etcd }}/kube-apiserver-etcd-cli-priv.pem"
    path_cert: "{{ pki_pastas.etcd }}/kube-apiserver-etcd-cli-cert.pem"
    ca_pai: "{{ pki_cas['etcd'] }}"

  kube_apiserver_kubelet_cli:
    path_chave: "{{ pki_pastas.k8s }}/kube-apiserver-kubelet-cli-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/kube-apiserver-kubelet-cli-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  kube_front_proxy_cli:
    path_chave: "{{ pki_pastas.k8s }}/kube-front-proxy-cli-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/kube-front-proxy-cli-cert.pem"
    ca_pai: "{{ pki_cas['front_proxy'] }}"

  kube_controller_manager:
    path_chave: "{{ pki_pastas.k8s }}/%s-kube-controller-manager-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/%s-kube-controller-manager-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  kube_scheduler:
    path_chave: "{{ pki_pastas.k8s }}/%s-kube-scheduler-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/%s-kube-scheduler-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  kubelet:
    path_chave: "{{ pki_pastas.k8s }}/%s-kubelet-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/%s-kubelet-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  kube_proxy:
    path_chave: "{{ pki_pastas.k8s }}/%s-kube-proxy-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/%s-kube-proxy-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  service_account:
    path_chave: "{{ pki_pastas.k8s }}/service-account-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/service-account-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"

  admin_account:
    path_chave: "{{ pki_pastas.k8s }}/admin-account-priv.pem"
    path_cert: "{{ pki_pastas.k8s }}/admin-account-cert.pem"
    ca_pai: "{{ pki_cas['kubernetes'] }}"
