---
server:
  http_listen_port: {{ porta_promtail }}

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://{{ hostvars[groups['monitoramento'][0]]['ansible_host'] }}:{{ porta_loki_http }}/loki/api/v1/push

scrape_configs:
  - job_name: journal
    journal:
      json: false
      max_age: 24h
      path: /var/log/journal
      labels:
        job: systemd
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
      - source_labels: ['__journal_priority']
        target_label: 'priority'
      - source_labels: ['__journal__syslog_identifier']
        target_label: 'syslog_identifier'

